embed {}
object {}
param {}
source {}
track {}
map {}
area {}
iframe {}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
	max-width: 100%;
	height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
