form {}

input {
  margin: 0;
	overflow: visible;
}

input:not([type="submit"]) {
	line-height: 1;
  height: $s*4;
  padding: 0;
	border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
	width: 100%;
  @include set-type('$body')
	&:focus {
		border-color: black;
	  outline: 0;
	}
}

textarea {
	border: 2px solid #D2D2D2;
	width: 100%;
	padding: $s*2;
	margin: 0;
	overflow: auto;
	&:focus {
		border-color: #66afe9;
	  outline: 0;
	}
}
option {}
optgroup {
	margin: 0;
}
datalist {}
label {}
fieldset {
	border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 0;
	padding: $s;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
button {
	appearance: none;
  background-color:transparent;
  border: none;
  margin: 0;
	overflow: visible;
	text-transform: none
}
output {}
progress {
  display: inline-block;
  vertical-align: baseline;
}
meter {}
keygen {}


// Input Types
[type="text"] {}
[type="password"] {}
[type="checkbox"] {
  padding: 0;
}
[type="radio"] {
	padding: 0
}
[type="submit"] {}
[type="reset"] {}
[type="hidden"] {}
[type="image"] {}
[type="file"] {}
[type="button"] {}
[type="search"] {
	-webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
[type="tel"] {}
[type="url"] {}
[type="email"] {}
[type="date"] {}
[type="time"] {}
[type="number"] {}
[type="range"] {}
[type="color"] {}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}


/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


input[type="button"],
input[type="submit"],
button {
  @include set-type('$body');
  width: 100%;
  border-bottom: 2px solid white;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  padding: $s*2 0;
  text-align:left;
  cursor: pointer;
  appearence: none;
  color: white;
	&:hover {
    padding: $s*2;
    background-color: #fff;
    color: black;
	}
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
	border-radius: 0;
	height: $s*9;
	border: 2px solid #D2D2D2;
	width: 100%;
	padding: 0 $s*2;
	margin: 0;
	text-transform: none
	&:focus {
		border-color: #66afe9;
		outline: 0;
	}
  &::-ms-expand {
		display: none;
	}
  &::-ms-value {
    color: currentColor;
  }
	cursor: pointer;
	background-image: url("data:image/svg+xml;charset=utf8,<svg width='9px' height='9px' viewBox='159 179 9 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'> <polygon id='Triangle' stroke='none' fill='#000000' fill-rule='evenodd' points='160 188 160 180 168 184'></polygon></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
	background-color: transparent;
}

// Default Placeholder psuedo element styling
@include placeholder {
  color: white;
}
