p {}
pre {
	font-family: monospace, monospace;
  font-size: 1em;
}
blockquote {}
ol {}
ul {}
li {}
dl {}
dt {}
dd {}
figure {
	display: block;
}
figcaption {
	display: block;
}
div {}
main {
	display: block;
}
hr {
	height: 0;
	overflow: visible;
	border-top: 0;
  border-bottom-width: 1px;
	border-color: map-get($colors, '$black');
  border-style: solid;
}
[hidden] {
  display: none;
}
