html {
	box-sizing: border-box;
	min-height: 100%;
	height: 100%;
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:after, *::before  {
	box-sizing: inherit;
}
