body {
	margin: 0;
}
article {
	display: block;
}
section {
	display: block;
}
nav {
	display: block;
}
aside {
	display: block;
}
header {
	display: block;
}
footer {
	display: block;
}
address {}

template {
  display: none;
}
