body {
	@include set-type('$body');
	color:white;
}
h1,h2,h3,h4,h5,h6 {
	@include set-type('$body');
	margin: 0;
}

a {
	background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:link {
	color: inherit;
}
a:active {
	outline-width: 0;
}
a:visited {}
a:hover {
	outline-width: 0;
}
em { @include set-type('$em') }
strong {
	@include set-type('$strong')
}
cite {}
q {}
dfn {}
abbr {}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
data {}
time {}
code {
	@include set-type('$small')
}
pre {
	@include set-type('$small')
}
var {}
samp {}
kbd {}
mark {
	background-color: #ff0;
  color: #000;
}
ruby {}
rb {}
rt {}
rp {}
rtc {}
bdi {}
bdo {}
span {}
br {}
wbr {}
small {
	@include set-type('$small');
}
i {}
b {
	font-weight: inherit;
}
u {}
s {}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
ins {}
del {}
