.reset {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
	line-height: 1;
	list-style: none;
	quotes: none;
	border-collapse: collapse;
	border-spacing: 0;
	text-decoration: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}
