@mixin create($prop_abbr, $prop_full, $values) {
	@each $prop_val_abbr, $prop_val_full in $values {
		@include outputSelector($prop_abbr, $prop_val_abbr) {
			@include outputProperty($prop_full, $prop_val_full)
		}
	}
	@each $mq_key, $mq_val in $breakPoints {
		@include mq($mq_key) {
			@each $prop_val_abbr, $prop_val_full in $values {
	      @include outputSelector($prop_abbr, $prop_val_abbr, $mq_key) {
					@include outputProperty($prop_full, $prop_val_full)
				}
			}
		}
	}
}

@mixin create-from-list($prop_abbr, $prop_full, $values) {
	@each $prop_val in $values {
		@include outputSelector($prop_abbr, $prop_val) {
			@include outputProperty($prop_full, $prop_val * $s)
		}
	}
	@each $mq_key, $mq_val in $breakPoints {
		@include mq($mq_key) {
			@each $prop_val in $values {
	      @include outputSelector($prop_abbr, $prop_val, $mq_key) {
					@include outputProperty($prop_full, $prop_val * $s)
				}
			}
		}
	}
}

@mixin outputSelector($selector_abbr, $property_abbr, $mq:false) {
	@if $mq == false {
		html [class~="#{$selector_abbr}:#{$property_abbr}"] {
			@content;
		}
	}
	@else {
    html [class~="@#{$mq}-#{$selector_abbr}:#{$property_abbr}"] {
			@content;
		}
	}
}

@mixin outputProperty($prop, $val){
	#{$prop}:$val;
}
