// Set the minimum font size the type size can appear
// This works by seting a 'local' media query to kick in at a required point and
// setting the font size in px rather than rem.

@mixin setMinFontSize($fontSize, $minFontSize) {
	// If the user set min font size is larger than than what would result from a relative size at smaller viewports...
  @if ((100 / $fontSize ) * $minFontSize > $min-font-percent) {
		//Calculate the user min font size as a percentage...
    $_minFontPercent: ( 100 / $fontSize ) * $minFontSize;
		//Calulate the lineheight relative to the minimum font size percentage...
    //$lineHeight: ($lineHeight / 100) * $_minFontPercent;
    $font-range:        $max-font-percent - $min-font-percent;
    $media-range:       $max-media - $min-media;

		// If type is set to scale over a media query range
    @if ($media-range != 0) {
			// Calculate the viewport size at which scaling should stop
      $min-cutoff: (($media-range / $font-range) * ($_minFontPercent - $min-font-percent)) + $min-media;
      @media (max-width: #{$min-cutoff}px){
        font-size: $minFontSize * 1px;
        //line-height: $lineHeight * 1px;
      }
    }
  }
}

@mixin baseline($lh, $fs, $cs: ($fs * 0.8) / $fs  ) {

    $lh : $lh / $fs;

    &:before {
        content: '';
        margin-top: 1em * (($fs * ($lh - $cs) / 2) / 16);
        display: block;
    }
    &:after {
        content: '';
        margin-top: -1em * (($fs * ($lh - $cs) / 2) / 16);
        display: block;
    }
}

@mixin set-type($name){
	@if map-has-key($font_values, $name) {

		$set : map-get($font_values, $name);
    $fs  : map-get($set, 'font-size');
    $mfs : map-get($set, 'min-font-size');

    @if ($fs != null) {
      font-size: $fs / 16 * 1rem;
    }

		@if ($fs != null and $mfs != null) {
      @include setMinFontSize($fs, $mfs);
    }

    @each $key, $value in $set {
			@if ($key != 'font-size' and $key != 'min-font-size') {
				#{$key}: #{$value};
			}
    }

	}
}

@mixin create_calc(){
  // Internal variables

  $font-range:        $max-font-percent - $min-font-percent;
  $media-range:       $max-media - $min-media;
  $font-increments : (($font-range) / $media-range) * 0.16;
  $min-font-px : $min-font-percent * 0.16px;


      // Calculate the breakpoint size based on position in the loop
      $break : $min-media * 1px;

      // Print out breakpoint with :root font-size
      @media screen and (min-width: #{$break}) {

          :root {
              font-size: calc(((100vw - #{$min-media}px) * #{$font-increments}) + #{$min-font-px})
            }
      }


  // Set the min and max font/viewport sizes at where text will stop scaling.
  :root {
      @media screen and (max-width: #{$min-media}px){
          font-size: $min-font-percent * 0.16px;;
      }
      @media screen and (min-width: #{$max-media}px){
          font-size: $max-font-percent * 0.16px;;
      }
  }
}

@mixin create_breakpoints(){

    // Internal variables for the font/viewport ranges

    $font-range:        $max-font-percent - $min-font-percent;
    $media-range:       $max-media - $min-media;
    $font-increments : ($font-range) / $media-range;

    // Counter variable for use in loop
    $i : 0;

    // Loop through the range between the min/max viewport sizes
    @while $i < $media-range {

        // Calculate the font size based on position in the loop.
        $font-size : (($font-increments * $i) + $min-font-percent ) * 0.16px;

        // Calculate the breakpoint size based on position in the loop
        $break : $i + $min-media * 1px;

        // Print out breakpoint with :root font-size
        @media screen and (min-width: #{$break}) {
            :root {
                font-size: $font-size;
            }
        }

        // Advance the counter by the desired increment size
        $i : $i + $viewport-increments;
    }

    // Set the min and max font/viewport sizes at where text will stop scaling.
    :root {
        @media screen and (max-width: #{$min-media}px){
            font-size: $min-font-percent * 0.16px;;
        }
        @media screen and (min-width: #{$max-media}px){
            font-size: $max-font-percent * 0.16px;;
        }
    }

}

@if ($use-calc == true) {
  @include create_calc();
} @else {
  @include create_breakpoints();
}
