/* ====================== Hovers =================== */

$hover : (
	'$opacity' : (
		opacity : 0.5,
	),
	'$pointer' : (
		cursor : pointer
	)
);

/* ====================== Before =================== */

$before : (
	'$overlay' : (
		content: '""',
		position: absolute,
		top: 0,
		bottom: 0,
		right: 0,
		left: 0,
		background-color: rgba(255,255,255,0.7),
	)
);

/* ====================== After =================== */

$after : (

);

/* ====================== Nth Child =================== */

$nth_child : (
	'$striped' : (
		expression : 2n,
		background-color : map-get($colors, '$grey1')
	)
);
