/* ==================== Base Spacing ================ */

$s : 0.6rem;

/* ==================== Break Points ================ */

$breakPoints : (
	's' : '400px',
	'm' : '900px',
	'l' : '1100px'
);

/* ====================== Spacing Custom Values =================== */
// a  : auto,
// 0  : 0,
$s_relative_spacing : -4,-3,-2,-1,0.5,1,2,3,3.5,4,5,6,7,8,9,10,12,14,16,18,20;
$spacing : (
	'50%' : 50%
);

/* ====================== Height Custom Values =================== */
$s_relative_height : 1;
$height : (
	'100vh' : 100vh,
	'100%' : 100%,
	'50%' : 50%
);

/* ====================== Max Height Custom Values =================== */
$max-height : (
	'100%' : 100%
);

/* ====================== Min Height Custom Values =================== */
$min-height : (
	'100%' : 100%
);

/* ====================== Width Custom Values =================== */
$s_relative_width : 1,2,3,4,5,6;
$width : ();

/* ====================== Max Width Custom Values =================== */
$max-width : (
	'$wrapper' : 1000px,
	'100%' : 100%
);

/* ====================== Min Width Custom Values =================== */
$min-width : (
	'100%' : 100%
);

/* ====================== z-index Custom Values =================== */

$zindex : (
	'$bottom' : 0,
	'$middle' : 100,
	'$top' : 1000
);

/* ====================== Columns =================== */

$columns : 12;

/* ====================== Coordinates =================== /
/ Coordinate custom values are used when generating
/ values for top, bottom, left and right properties
*/

$coordinates : (
	0      : 0,
	'50%' : 50%,
	'100%' : 100%
);
