/* ====================== Typography =================== */

$min-font-percent       : 100 !default;      // Smallest default size for body text
$max-font-percent       : 100 !default;     // Largest default size for body text
$min-media              : 1 !default;     // Min viewport size at which text stops scaling.
$max-media              : 2 !default;    // Max viewport size at which text stops scaling.
$viewport-incrents      : 10;               // How many pixels between each break point. Only Used if $use-calc == true
$use-calc               : true !default;

$font_values: (
  '$body': (
    'font-size' : 14,
    'line-height': 1.3,
    '-webkit-font-smoothing' : antialiased,
    'font-weight': 400,
    'font-style': normal,
    'font-family': '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'
  ),
  '$h1': (
    'font-size' : 22,
    'line-height': 1.5,
		'font-weight': bold
  )


);
