/* Flex Direction */

$values : (
	center  : center,
	flex-ende  : flex-end,
	flex-starts : flex-start,
	stretch : stretch,
	space-around : space-around,
	space-between : space-between 
);

@include create('ac', 'align-content', $values)
