/* Border Style */

$values : (
	none : none,
	dotted : dotted,
	dashed : dashed,
	solid : solid
);

@include create('bds', 'border-style', $values);
@include create('bdls', 'border-left-style', $values);
@include create('bdrs', 'border-right-style', $values);
@include create('bdts', 'border-top-style', $values);
@include create('bdbs', 'border-bottom-style', $values);
