/* Display */

$values : (
	none : none,
	block : block,
	inline : inline,
	inline-block : inline-block,
	inline-flex : inline-flex,
	flex : flex,
	table : table,
	table-row : table-row,
	table-cell : table-cell
);

@include create('d', 'display', $values)
