/* Font */

@each $font, $val in $font_values {
	html [class~="f:#{$font}"] {
		@include set-type(#{$font});
	}
}
@each $mq_key, $mq_val in $breakPoints {
	@each $font, $val in $font_values {
		@include mq($mq_key) {
			html [class~="@#{$mq_key}-f:#{$font}"] {
				@include set-type(#{$font});
			}
		}
	}
}
