/* Hover */

@each $selector, $properties in $hover {
	[class~="&hover:#{$selector}"]:hover {
		@each $property, $value in $properties {
			#{$property} : #{$value};
		}
	}
};

$properties : (
	'bdc' : 'border-color',
	'c'   : 'color',
	'bgc' : 'background-color'
);

@each $colorName, $colorValue in $colors {
	@each $selector, $property in $properties {
		[class~="&hover:#{$selector}:#{$colorName}"]:hover {
			#{$property} : #{$colorValue};
		}
	}
};
