/* Flex Direction */

$values : (
	center : center,
	flex-end : flex-end,
	flex-start : flex-start,
	stretch : stretch,
	space-around : space-around,
	space-between : space-between
);

@include create('jc', 'justify-content', $values)
