/* Margin */

$default_values : (
	0 : 0,
	auto : auto
);

$spacing_values: map-merge($default_values, $spacing);

@each $value in $s_relative_spacing {
	$v : ($value : $value * $s);
	$spacing_values: map-merge($v, $spacing_values);
}

@include create('m', 'margin', $spacing_values);
@include create('mx', 'margin-left', $spacing_values);
@include create('mx', 'margin-right', $spacing_values);
@include create('my', 'margin-top', $spacing_values);
@include create('my', 'margin-bottom', $spacing_values);
@include create('mt', 'margin-top', $spacing_values);
@include create('mb', 'margin-bottom', $spacing_values);
@include create('ml', 'margin-left', $spacing_values);
@include create('mr', 'margin-right', $spacing_values);
