/* Nth */

@each $selector, $properties in $nth_child {
	$expression : map-get($properties, 'expression');
	[class~="&nth:#{$selector}"]:nth-child(#{$expression}) {
		@each $property, $value in $properties {
			@if $property != 'expression' {
				#{$property} : #{$value};
			}
		}
	}
}
