/* Overflow */

$values : (
	visible : visible,
	hidden : hidden,
	scroll : scroll,
	auto : auto
);

@include create('ov', 'overflow', $values);
@include create('ovx', 'overflow-x', $values);
@include create('ovy', 'overflow-y', $values);
