/* Padding */

$default_values : (
	0 : 0
);

$spacing: map-merge($default_values, $spacing);

@each $value in $s_relative_spacing {
	$v : ($value : $value * $s);
	$spacing: map-merge($v, $spacing);
}

@include create('p', 'padding', $spacing);
@include create('px', 'padding-left', $spacing);
@include create('px', 'padding-right', $spacing);
@include create('py', 'padding-top', $spacing);
@include create('py', 'padding-bottom', $spacing);
@include create('pt', 'padding-top', $spacing);
@include create('pb', 'padding-bottom', $spacing);
@include create('pl', 'padding-left', $spacing);
@include create('pr', 'padding-right', $spacing);
