/* Vertical Align */

$values : (
	 super : super,
	 top : top,
	 text-top : text-top,
	 middle : middle,
	 baseline : baseline,
	 bottom : bottom,
	 text-bottom : text-bottom,
	 sub : sub
);

@include create('va', 'vertical-align', $values);
