/* Width */

$values : ();
@for $col from 0 through $columns {
	$val : 100% / $columns * $col;
	$values: map-merge($values, (#{$col}col: $val));
}

$merge: map-merge($values, $width);

@include create('w', 'width', $merge);
@include create-from-list('w', 'width', $s_relative_width);
